.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}
.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

html,
body {
  overflow-x: hidden;
  background: #ffffff !important;
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
.bg-first {
  background-color: #1f2833;
}
.contact-btn a {
  border-radius: 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 8px 12px;

  text-decoration: none;
}
.contact-btn a:hover {
  background: #f09440; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f09440,
    #00d2ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f09440,
    #00d2ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  animation: gradient 3s ease infinite;
  background-size: 400% 400%;
  box-shadow: #f09540c0 0px 13px 27px -5px, #00d0ffb6 0px 8px 16px -8px;
}
nav{
  position: fixed !important;     
  height: auto;
  padding-top: 40px !important;
  /* background-color: rgba(0, 0, 0, 0.2); */
  color: #ffffff !important;
}
.sticky{
    top: 0%;
    height: 100px !important;
    transition: all 0.6s ease-in-out;
    background-color: #1f2833 !important;
    width: 100%;
    padding-top: 0 !important;
    box-shadow: #f09540c0 0px 5px 6px -2.5px, #00d0ffb6 0px 4px 8px -4px;
}
.nav-link {
  color: #ffffff !important;
  font-size: 1.2rem !important;
  font-weight: 450 !important;
  margin-right: 20px;
  padding: 4px 8px;
  position: relative;
}
.nav-link::after {
  transition: 0.2s;
  content: "";
  border-radius: 5px;
  height: 3px;
  width: 0%;
  background: #ffffff;
  position: absolute;
  left: 0;
  bottom: 2px;
}
.nav-link:hover {
  background: #f09440; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f09440,
    #00d2ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f09440,
    #00d2ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  animation: gradient 4s ease infinite;
  background-size: 400% 400%;
  border-radius: 5px;
  color: #ffffff !important;
  font-weight: 500 !important;
  box-shadow: #f09540c0 0px 19px 38px -4px, #00d0ffb6 0px 15px 12px -10px;
}
.nav-link:hover::after {
  width: 100%;
}
.logo {
  margin-top: 10px;
  margin-left: 20px;
  height: 100px !important;
  scale: 1.5;
}

/* hero section */
.hero-section {
  height: 100vh;
}
.carousel-item img {
  object-fit: cover;
  height: 100vh;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(15, 10, 28, 0.7); /* Black color with 50% opacity */
  backdrop-filter: blur(4px); /* Apply blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
}
.other{
    background-color: rgba(0, 0, 0, 0.6) !important;
}
.hero-head {
  margin-left: 10% !important;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.main-hero-text {
  color: #ffffff;
  text-shadow: 1px 10px 10px rgba(0, 0, 0);
  font-size: 4em;
  font-weight: 500;
}
.sub-hero-text {
  font-size: 2em;
  color: #ffffff;
}
.contact-btn {
  margin-left: 30px !important;
  margin-top: 30px !important;
}
.contact-btn a {
  box-shadow: #f09540c0 0px 19px 38px -4px, #00d0ffb6 0px 15px 12px -10px;
}
.contact-form {
  background: #1f2833;
}
.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.svg-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
}
.svg-container svg {
  width: 100%;
  height: auto;
}
.shape {
  max-width: 600px;
}
.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 1;
}
.form-container input {
  background: rgba(255, 255, 255, 0.151);
  color: #ffffff;
}
.form-container label {
  color: #ffffff;
}
.form-container button {
  font-weight: bold;
}
.form-container button:hover {
  background: #f09440; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f09440,
    #00d2ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f09440,
    #00d2ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  animation: gradient 4s ease infinite;
  background-size: 400% 400%;
}
.lux-properties {
  min-height: 100vh;
  background: #1f2833;
}
.lux-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.rectangle {
  margin: 50px 0 0 50px !important;
  width: 500px;
  height: 500px;
  position: relative;
  background: #f09440;
}
.rectangle img {
  object-fit: cover;
  width: 100%;
  /* max-width: 600px;*/
  height: 100%;
  position: absolute;
  top: -30px;
  left: 30px;
}
.rectangle img:hover {
  transition: scale 0.2s;
  scale: 0.98;
  border: 5px solid #f09440;
}
.text {
  margin-left: 5% !important;
}
.text .main-heading {
  font-weight: 500;
}
.text .sub-heading {
  color: #ffffff;
  font-weight: 500;
}
.why-choose-section {
  background: #1f2833 !important;
}

.line-left {
  border-radius: 0 5px 5px 0;
  height: 5px;
  width: 20%;
  background: #f09440; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f09440,
    #00d2ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f09440,
    #00d2ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  animation: gradient 4s ease infinite;
  background-size: 400% 400%;
}
.heading {
  width: fit-content;
}
.line-right {
  height: 5px;
  border-radius: 5px 0 0 5px;
  width: 60%;
  background: #f09440; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f09440,
    #00d2ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f09440,
    #00d2ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  animation: gradient 4s ease infinite;
  background-size: 400% 400%;
}

.why-choose-section .card {
  background: #ececec !important;
  width: 300px !important;
}
.why-choose-section .card:hover {
  transition: all 0.3s;
  box-shadow: #f09540c0 0px 19px 38px -4px, #00d0ffb6 0px 15px 12px;
}
.why-choose-section .card:hover .icon svg {
  transition: all 0.4s;
  scale: 1.3;
}
.icon {
  border-radius: 50%;
  background: #f58b2872;
  padding: 20px;
}

/* footer */
.footer {
  background: #1f2833;
  min-height: 100vh !important;
}
.footer-logo {
  height: 200px;
  margin-bottom: 50px;
}
.footer-container {
  margin: 0 10px !important;
  padding: 0 10px !important;
  margin-top: 30px;
  height: auto !important;
}

.footer-item {
  padding: 0 !important;
  min-height: 200px !important;
  font-size: 16px !important;
}
/* footer */

.gradient {
  font-size: 1em;
  text-shadow: 1px 10px 10px rgba(255, 255, 255, 0.3);
  font-weight: 700;
  background: #f09440; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f09440,
    #00d2ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f09440,
    #00d2ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  transition: animation 3s linear;
  animation: gradient 4s ease infinite;
  background-size: 400% 400%;
}

/* Animations */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}



/* 
Contact Page
*/
.hero-section-other{
    background: url('../images/building-7214070\ \(1\).jpg') ;
    background-size: cover;
    background-position: 50% 50%;
    height: 70vh;
}

.breadcrumb-item{
    padding: 6px 8px;
    
}
.main-contact-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-contact-heading span{
    padding: 0 10px;
    letter-spacing: 2px;
    color: #00d2ff;
}
.main-contact button:hover{
    background: -webkit-linear-gradient(
    to right,
    #f09440,
    #00d2ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  color: #ffffff !important;
  border: none;
  background: linear-gradient(
    to right,
    #f09440,
    #00d2ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  animation: gradient 4s ease infinite;
  background-size: 400% 400%;
}
.cards{
    color: #ffffff;
    padding: 0 5px;
}
.cards1{
    background: linear-gradient(135deg, gray, black);
    border: 1px solid gray !important;
}
.cards2{
    border: 1px solid gray;
}
/* responsive */
@media only screen and (max-width: 768px) {
  nav {
    height: auto;
  }
  .hero-head {
    margin-left: 5px !important;
    margin-top: 10% !important;
    text-align: center;
    align-items: center;
  }
  .main-hero-text {
    text-align: center;
    font-size: 20px;
  }
  .main-hero-text span {
    font-size: 28px;
  }
  .sub-hero-text {
    font-size: 16px;
  }
  .contact-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0 !important;
    margin-top: 30% !important;
  }
  .contact-container {
    height: 550px;
    flex-direction: column;
    justify-content: space-around;
  }
  .contact-container .main-heading {
    text-align: center;
    margin-top: 15px;
  }
  .contact-container .sub-heading {
    font-size: 14px !important;
    text-align: center;
    padding-top: 20px;
  }
  .svg-container {
    background: #f09440;
    padding: 15px 0;
    border-radius: 10px;
    margin: 10px 0 0 0 !important;
  }
  .svg-container svg {
    display: none;
    background: #f09440;
    padding: 10px;
  }
  .form-container {
    position: relative;
    width: 90%;
    margin: 10px 0;
  }
  .lux-wrapper {
    flex-direction: column-reverse;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 40px !important;
  }
  .rectangle {
    margin: 40px 0 0 0 !important;
    position: relative;
    height: 400px;
  }
  .rectangle img {
    top: 0;
    left: 0;
    position: relative;
  }
  .text {
    margin-left: 0% !important;
  }

  .line-left {
    width: 50%;
  }
  .heading {
    width: 100%;
  }
  .line-right {
    width: 50%;
  }
  .footer {
    background: #1f2833;
    height: 100% !important;
  }
  .footer-overlay {
    height: 100% !important;
  }
  .footer-container {
    height: fit-content !important;
    text-align: center;
  }
  .footer-item {
    min-height: 200px;
    font-size: 1em !important;
  }
}
